---

- name: Set default target to graphical
  become: true
  when: not headless_mode
  ansible.builtin.file:
    src: /usr/lib/systemd/system/graphical.target
    dest: /etc/systemd/system/default.target
    state: link
  notify: Reboot Host

- name: Check for Xorg presence
  become: true
  ansible.builtin.command:
    cmd: Xorg -version
  changed_when: false
  failed_when: false
  register: xorg_result

- name: Update GDM configuration file
  become: true
  when: xorg_result.rc == 0
  ansible.builtin.lineinfile:
    path: "{{ gdm_config_file[ansible_facts.distribution] }}"
    backrefs: true
    regexp: '^#WaylandEnable=false$'
    line: 'WaylandEnable=false\nDefaultSession=gnome-xorg.desktop'
    state: present
  notify: Reboot Host

- name: Remove unused dependencies
  become: true
  ansible.builtin.package:
    autoremove: true

...
