---

- name: Ensure system extensions directory exists
  become: true
  ansible.builtin.file:
    path: "{{ extension_path_system }}"
    state: "directory"
    owner: root
    group: root
    mode: "0755"

- name: Get installed gnome extensions
  ansible.builtin.command:
    cmd: "ls {{ extension_path_system }}"
  register: extensions_list_result
  changed_when: false

- name: Set extensions list
  ansible.builtin.set_fact:
    extensions: "{{ extensions_list_result.stdout_lines }}"

- name: Remove unwanted gnome extensions
  become: true
  loop: "{{ obsolete_gnome_extensions }}"
  ansible.builtin.file:
    path: "{{ extension_path_system }}/{{ item }}"
    state: absent

- name: Install extension-installer dependencies
  become: true
  loop: "{{ extension_installer_dependencies }}"
  when: item not in ansible_facts.packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present

- name: Download extension installer
  become: true
  ansible.builtin.get_url:
    url: https://github.com/brunelli/gnome-shell-extension-installer/raw/master/gnome-shell-extension-installer
    dest: /usr/bin/gnome-shell-extension-installer
    mode: '0755'

- name: Ensure `dbus-send` is available (dep. of extension-installer)
  become: true
  when: ansible_facts.os_family | lower == "redhat"
  ansible.builtin.dnf:
    name: dbus-tools
    state: present

- name: Install extensions
  loop: "{{ gnome_extensions }}"
  loop_control:
    label: "{{ extension.name }}"
    loop_var: extension
  when: extension.address not in extensions
  ansible.builtin.include_tasks:
    file: install_extensions.yml

- name: Get installed gnome extensions
  ansible.builtin.command:
    cmd: "ls {{ extension_path_system }}"
  register: extensions_list_result
  changed_when: false

- name: Set extensions list
  ansible.builtin.set_fact:
    extensions: "{{ extensions_list_result.stdout_lines }}"

- name: Update extension persmissions
  become: true
  loop: "{{ extensions }}"
  ansible.builtin.file:
    path: "{{ extension_path_system }}/{{ item }}/metadata.json"
    mode: "0644"

- name: Ensure default gnome settings directory exists
  become: true
  ansible.builtin.file:
    path: "/etc/dconf/db/local.d"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Enable gnome shell extensions by default system-wide
  become: true
  community.general.ini_file:
    path: "{{ gnome_systemwide_default_base }}"
    section: org/gnome/shell
    option: enabled-extensions
    value: "{{ extensions | to_json }}"
    mode: "0644"

- name: Combine gnome extension dconf settings
  ansible.builtin.set_fact:
    gnome_extension_dconf_settings: >-
      {{
        gnome_extensions
        | selectattr('dconf_settings', 'defined')
        | map(attribute='dconf_settings')
        | list
        | ansible.builtin.combine
      }}

- name: Configure system-wide extension defaults
  become: true
  loop: "{{ gnome_extension_dconf_settings | dict2items }}"
  loop_control:
    label: "{{ dconf_pair.key }}"
    loop_var: dconf_pair
  community.general.ini_file:
    path: "{{ gnome_systemwide_extensions_default_dconf }}"
    section: "{{ dconf_pair.key | dirname }}"
    option: "{{ dconf_pair.key | basename }}"
    value: "{{ dconf_pair.value | string }}"
    owner: root
    group: root
    mode: "0644"
  notify: Update dconf

...
