---

- name: "Install extension {{ extension.name }}"
  become: true
  ansible.builtin.command:
    cmd: "gnome-shell-extension-installer {{ extension.id }} --yes"
  register: extension_install_result
  changed_when: extension_install_result.rc == 0
  retries: 3
  delay: 2
  until: extension_install_result is succeeded

- name: Install extension dependencies
  become: true
  when: extension.dependencies is defined
  loop: "{{ extension.dependencies[ansible_facts.os_family] }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  register: extension_dependency_install_result
  retries: 3
  delay: 2
  until: extension_dependency_install_result is succeeded

...
