---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Include os_family specific dependencies
  ansible.builtin.include_tasks:
    file: "{{ ansible_facts.os_family | lower }}_repos.yml"

- name: Include common dependencies
  ansible.builtin.include_tasks:
    file: common_dependencies.yml

- name: Include gnome base setup
  ansible.builtin.include_tasks:
    file: gnome_setup.yml

- name: Include gnome extensions
  ansible.builtin.include_tasks:
    file: gnome_extensions.yml

- name: Include gnome themes
  ansible.builtin.include_tasks:
    file: gnome_themes.yml

- name: Include system for gnome desktop
  ansible.builtin.include_tasks:
    file: gnome_desktop_settings.yml

...
