---

- name: RedHat based systems requirements
  when: ansible_distribution | lower in gnome_rhel_derivatives
  block:
    - name: Enable CRB (CentOS Extras) repository
      become: true
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    # - name: Import epel GPG key
    #   become: true
    #   ansible.builtin.rpm_key:
    #     key: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}"
    #     state: present
    #   register: result
    #   until: result is succeeded
    #   retries: 5
    #   delay: 10

    - name: Install epel repo
      become: true
      ansible.builtin.dnf:
        name: epel-release
        state: present

    # - name: Install distribution-gpg-keys package
    #   become: true
    #   ansible.builtin.dnf:
    #     name: distribution-gpg-keys
    #     state: present

# TODO enable fusion repos for fedora
# - name: Import GPG keys
#   become: true
#   loop: "{{ gnome_rpmfusion_repos }}"
#   loop_control:
#     loop_var: key
#     label: "{{ key.name }}"
#   when: key.name not in ansible_facts.packages
#   ansible.builtin.rpm_key:
#     key: "{{ key.gpg_key }}"
#     state: present
#   register: result
#   until: result is succeeded
#   retries: 5
#   delay: 10

# - name: Install additional repos
#   become: true
#   loop: "{{ gnome_rpmfusion_repos }}"
#   loop_control:
#     loop_var: repo
#     label: "{{ repo.name }}"
#   when: repo.name not in ansible_facts.packages
#   ansible.builtin.dnf:
#     name: "{{ repo.src }}"
#     state: present
#     update_cache: true
#   register: result
#   until: result is succeeded
#   retries: 5
#   delay: 10

- name: Set up repos
  become: true
  loop: "{{ gnome_rpmfusion_repos }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  ansible.builtin.yum_repository:
    name: "{{ repo.name }}"
    description: "{{ repo.description }}"
    baseurl: "{{ repo.baseurl }}"
    priority: "{{ repo.priority }}"
    timeout: "{{ repo.timeout }}"
    enabled: "{{ repo.enabled | default(true) }}"
    gpgcheck: "{{ repo.enabled }}"
    gpgkey: "{{ repo.gpgkey }}"
    metadata_expire: "{{ repo.metadata_expire | default(21600) }}"
    skip_if_unavailable: "{{ repo.skip_if_unavailable | default(false) }}"
    mode: "0644"
    owner: "root"
    state: present
  register: dnf_repo_setup

- name: Clean dnf cache
  become: true
  when: dnf_repo_setup.changed
  ansible.builtin.command:
    cmd: dnf clean all
  register: dnf_clean_result
  changed_when: dnf_clean_result.rc == 0

- name: Update dnf metadata cache
  become: true
  ansible.builtin.dnf:
    update_cache: true

...
