---

- name: RedHat based systems requirements
  when: ansible_facts.distribution | lower in gnome_rhel_derivatives
  block:
    - name: Enable CRB (CentOS Extras) repository
      become: true
      community.general.dnf_config_manager:
        name: crb
        state: enabled

    - name: Install epel repo
      become: true
      ansible.builtin.dnf:
        name: epel-release
        state: present

- name: Update dnf metadata cache
  become: true
  ansible.builtin.dnf:
    update_cache: true

...
