---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Get repos on rhel based systems
  when: ansible_distribution in gnome_rhel_derivatives
  block:
    - name: Get enabled repos
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          dnf repolist --enabled | awk '{print $1}'
      args:
        executable: /bin/bash
      register: enabled_repos
      changed_when: false

    - name: Test enabled repos
      ansible.builtin.assert:
        that:
          - item in enabled_repos.stdout_lines
        fail_msg: "Repo '{{ item }}' is missing."
        quiet: true
      loop:
        - crb
        - epel

- name: Test installed requirements
  loop: "{{ gnome_dependencies[ansible_facts.os_family] }}"
  ansible.builtin.assert:
    that:
      - item in ansible_facts.packages
    fail_msg: "Required package '{{ item }}' is missing."
    quiet: true

- name: Test installed gnome packages
  loop: "{{ gnome_packages[ansible_facts.distribution | lower] | flatten(1) }}"
  ansible.builtin.assert:
    that:
      - item in ansible_facts.packages
    fail_msg: "Gnome package '{{ item }}' is missing."
    quiet: true

- name: Test removed gnome packages
  loop: "{{ gnome_obsolete_packages[ansible_facts.os_family] | flatten(1) }}"
  ansible.builtin.assert:
    that:
      - item not in ansible_facts.packages
    fail_msg: "Obsolete Gnome package {{ item }} is still rpesent"
    quiet: true

- name: Get installed flatpaks
  ansible.builtin.command:
    cmd: flatpak list --columns=application
  register: present_flatpaks
  changed_when: false

- name: Test installed flatpaks
  loop: "{{ flatpaks }}"
  loop_control:
    loop_var: "flatpak"
    label: "{{ flatpak }}"
  ansible.builtin.assert:
    that: flatpak in present_flatpaks.stdout_lines
    fail_msg: "Failed to find {{ flatpak }} in installed flatpaks"
    quiet: true

- name: Test almalinux home mapper setup
  when: ansible_facts.distribution | lower == "almalinux"
  block:
    - name: Check if /dev/mapper/almalinux-home exists
      ansible.builtin.stat:
        path: /dev/mapper/almalinux-home
      register: home_mapper

    - name: Verify that the /home entry contains the required options
      when: home_mapper.stat.exists
      ansible.builtin.command: "grep -E '^/dev/mapper/almalinux-home' /etc/fstab"
      register: fstab_check
      failed_when: "'x-gvfs-show' not in fstab_check.stdout or 'x-gvfs-name=Home' not in fstab_check.stdout"
      changed_when: false

- name: Get current target
  ansible.builtin.stat:
    path: /etc/systemd/system/default.target
  register: default_target

- name: Test graphical target
  ansible.builtin.assert:
    that:
      - default_target.stat.islnk == true
      - default_target.stat.lnk_target == "/usr/lib/systemd/system/graphical.target"
    fail_msg: "Graphical target not set as default."
    quiet: true

- name: "Get gdm config"
  ansible.builtin.command:
    cmd: "cat {{ gdm_config_file[ansible_facts.distribution] }}"
  register: gdm_config
  changed_when: false

- name: Ensure Xorg
  when: ansible_facts.distribution | lower != "fedora"
  block:
    - name: Check for Xorg presence
      become: true
      ansible.builtin.command:
        cmd: Xorg -version
      changed_when: false
      register: xorg_result

    - name: Assert X11 is set
      when: xorg_result.rc == 0
      ansible.builtin.assert:
        that:
          - "'WaylandEnable=false' in gdm_config.stdout_lines"
          - "'DefaultSession=gnome-xorg.desktop' in gdm_config.stdout_lines"
        fail_msg: "One or both of the expected lines are not present in {{ gdm_config_file[ansible_facts.distribution] }}"
        quiet: true

- name: Get installed GNOME extensions
  ansible.builtin.command:
    cmd: "ls {{ extension_path_system }}"
  register: extensions_list_result
  changed_when: false

- name: Set extensions list
  ansible.builtin.set_fact:
    present_extensions: "{{ extensions_list_result.stdout_lines }}"

- name: Test installed extensions
  loop: "{{ gnome_extensions }}"
  loop_control:
    label: "{{ extension.name }}"
    loop_var: extension
  ansible.builtin.assert:
    that:
      extension.address in present_extensions
    fail_msg: "Failed to find '{{ extension.address }}' in installed extensions."
    quiet: true

- name: Get installed GNOME themes
  ansible.builtin.find:
    paths: "{{ theme_paths }}"
    file_type: directory
    depth: 1
  register: theme_dirs

- name: Set themes list
  ansible.builtin.set_fact:
    present_themes: "{{ theme_dirs.files | map(attribute='path') | map('basename') | list }}"

- name: Test installed gnome themes
  loop: "{{ gnome_themes }}"
  loop_control:
    loop_var: theme
    label: "{{ theme.name }}"
  ansible.builtin.assert:
    that:
      theme.name in present_themes
    fail_msg: "Theme {{ theme.name }} not found."
    quiet: true

- name: Read display server resolution_x
  become: true
  community.general.xml:
    path: "{{ gdm_monitor_config_sys_path[ansible_facts.os_family] }}/monitors.xml"
    xpath: '/monitors/configuration/logicalmonitor/monitor/mode/width'
    content: text
  register: width_value

- name: Read display server resolution_y
  become: true
  community.general.xml:
    path: "{{ gdm_monitor_config_sys_path[ansible_facts.os_family] }}/monitors.xml"
    xpath: '/monitors/configuration/logicalmonitor/monitor/mode/height'
    content: text
  register: height_value

- name: Verify expected display server resolution
  ansible.builtin.assert:
    that:
      - width_value.matches[0].width | int == gdm_default_resolution_x
      - height_value.matches[0].height | int == gdm_default_resolution_y
    fail_msg: >
      "A display server resolution of {{ gdm_default_resolution_x }}
      x{{ gdm_default_resolution_y }} was expected, got
        {{ width_value.matches[0].width }}x{{ height_value.matches[0].height }}
        instead"
    quiet: true

...
